.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Goldman', cursive;
    text-transform: uppercase;
}

.img {
   height: 80px;
}